doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Payment information
		link(href='https://fonts.googleapis.com/css?family=Ubuntu&display=swap' rel='stylesheet')
		link(rel='stylesheet' href='/css/style.css')
		script(src='/js/client.js' defer)
		script(src='https://js.stripe.com/v3/')
		script(src='https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch')
	body
		.main
			.img
				img(src='/images/border.png' alt='border')
				.plan
					.plan__name
						| #{product_name}
					.plan__price
						| $#{product_amount}
			.content
				.content__title Payment
				form#payment-form
					.input-control
						label.inp(for='name')
							input#name(type='text' placeholder=' ' value=name)
							span.label Customer
							span.focus-bg
					.input-control
						label.inp(for='email')
							input#email(type='text' placeholder=' ' value=email)
							span.label Email
							span.focus-bg
					.form__title Card details
					#card-element
					.form__title Bill information
					.input-control
						label.inp(for='firstName')
							input#firstName(type='text' placeholder=' ')
							span.label First name
							span.focus-bg
					.input-control
						label.inp(for='lastName')
							input#lastName(type='text' placeholder=' ')
							span.label Last name
							span.focus-bg
					.input-control
						label.inp(for='company')
							input#company(type='text' placeholder=' ' value=address?address.line1:'')
							span.label Company name
							span.focus-bg
					.input-control
						label.inp(for='address')
							input#address(type='text' placeholder=' ' value=address?address.line2:'')
							span.label Billing address
							span.focus-bg
					.input-control
						label.inp(for='zipCode')
							input#zipCode(type='text' placeholder=' ' value=address?address.postal_code:'')
							span.label Zip code
							span.focus-bg
					.input-control
						label.inp(for='country')
							input#country(type='text' placeholder=' ' value=address?address.state:'')
							span.label Country
							span.focus-bg
					input#customerId(type='text' hidden value=customer_id)
					input#priceId(type='text' hidden value=price_id)
					input#subscriptionId(type='text' hidden value=subscription_id)
					input#redirectUrl(type='text' hidden value=redirect_url)
					button.form__submit#submit
						.spinner.hidden#spinner
						span#button-text #{mode}
					p#card-error(role="alert")
					